@model Lifeway.Models.Students

@{
    ViewData["Title"] = "Edit";
}

<div class="content-header">
    <div class="container-fluid">

        <h1>Edit</h1>

        <h4>Students</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="Students" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="adm_no" />
                    <div class="form-group">
                        <label asp-for="name" class="control-label"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Class" class="control-label"></label>
                        <input asp-for="Class" class="form-control" />
                        <span asp-validation-for="Class" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="dob" class="control-label"></label>
                        <input asp-for="dob" class="form-control" />
                        <span asp-validation-for="dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="date_of_admission" class="control-label"></label>
                        <input asp-for="date_of_admission" class="form-control" />
                        <span asp-validation-for="date_of_admission" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="parent_name" class="control-label"></label>
                        <input asp-for="parent_name" class="form-control" />
                        <span asp-validation-for="parent_name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="parent_contact" class="control-label"></label>
                        <input asp-for="parent_contact" class="form-control" />
                        <span asp-validation-for="parent_contact" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="alt_contact" class="control-label"></label>
                        <input asp-for="alt_contact" class="form-control" />
                        <span asp-validation-for="alt_contact" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="status" class="control-label"></label>
                        <input asp-for="status" class="form-control" />
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="former_school" class="control-label"></label>
                        <input asp-for="former_school" class="form-control" />
                        <span asp-validation-for="former_school" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="place_of_residence" class="control-label"></label>
                        <input asp-for="place_of_residence" class="form-control" />
                        <span asp-validation-for="place_of_residence" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-controller="Students" asp-action="AllStudents">Back to List</a>
        </div>
        </div>
    </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
